@import url("https://fonts.googleapis.com/css?family=Open+Sans:800");

html,body {
	height: 100%;
}
body{
	background: #fff;
	background-size: 0.2em 100%;
	font: 10.5em Open Sans, Impact;
	text-transform: uppercase;
	margin: 0;
	overflow:hidden;
}
svg{
	position: absolute;
	width:90%;
	height:100%;
	left: 5%;
}
.text{
	fill: none;
	stroke-width: 6; stroke-linejoin: round;
	stroke-dasharray: 70 330; stroke-dashoffset: 0;
	animation: stroke 6s infinite linear;
}
.text:nth-child(5n+1){
	stroke: #581845 ;animation-delay: -1.2s;
}
.text:nth-child(5n+2){
	stroke: #900c3f ;animation-delay: -2.4s;
}
.text:nth-child(5n+3){
	stroke: #c70039 ;animation-delay: -3.6s;
}
.text:nth-child(5n+4){
	stroke: #ff5733 ;animation-delay: -4.8s;
}
.text:nth-child(5n+5){
	stroke: #ffc300 ;animation-delay: -6s;
}
@keyframes stroke {
	100%{
	stroke-dashoffset: -400;
	}
}
